<html>
<head>
<title> Search Function For Restaurants </title>
</head>
	
<body>	
<form action='/search' method='post' encType='multipart/form-data'>	
	Enter keyword to search<br>		
	<input type='text' name='search'><br>
	<input type='submit' value='Search' />
</form>
</script	
</body>
</html>
