<HTML>
<BODY>
<head>
  <title>Edit Restaurant</H1></title>
</head>
<form action='/create' method='post' encType='multipart/form-data'>
  Delete was successful
  <input type='home' value='Home' />
</form>
</BODY>
</HTML>